<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">  
        <app-update-type   
        [type]="updatedTy" 
        (typeUpdated)= "typeUpdated($event)" 
        [ajout]="ajout"></app-update-type> 
        </div> 
    <div class="card shadow mb-4"> 
    <div class="card-body"> 
    <table class="table table-striped"> 
    <thead> 
    <tr> <th>Id</th><th>Type </th> </tr> 
    </thead> 
    <tbody *ngFor="let ty of types"> 
    <tr> 
    <td>{{ty.idty}}</td> 
    <td>{{ty.typereservation}}</td> 
    <td><a class="btn btn-success"  (click)="updateTy(ty)">Editer</a></td> 
    </tr> 
    </tbody> 
    </table> 
    </div> 
    </div> 
    </div>