<form>
    <div [hidden]="ajout">
        <label>ID type</label>
        <input type="text" [(ngModel)]="type.idty" name="idty" class="form-control w-25">
    </div>
    <div>
        <label>type reservation</label>
        <input type="text" [(ngModel)]="type.typereservation" name="typereservation" class="form-control"
            placeholder="Entrez un type de reservation...">
    </div>
    <div class="mt-2">
        <button type="submit" [disabled]="!type.typereservation" class="btn btn-success"
            (click)="saveType()">{{ajout ? 'Ajouter' : 'Modifier'}} </button>
    </div>
</form>